*{
    margin: 0;
    padding: 0;
}

/* navigation bar area */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #1A1244;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
    /* box-sizing: border-box; */
}

nav div{
    padding-top: 5px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}

nav ul li a:hover{
    background-color: rgba(175, 165, 165, 0.527);
    color: red;
    border-radius: 5px;
}


/* hero area */

header{
    background-image: linear-gradient(rgba(56, 92, 170, 0.705), rgba(226, 25, 216, 0.274)), url('img/INSTALL-EASE-banner-blurred.png');
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* filter: blur(2px); */
}

header h2{
    /* color: rgba(233, 84, 84, 0.685); */
    background-image: linear-gradient(rgb(236, 7, 76),rgb(10, 10, 141),rgb(43, 209, 43));
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 120px;
    font-weight: bolder;
    font-size: 80px;
    font-family: consolas;
    text-align: center;
    margin-bottom: 20px;
}

.searchBox-icon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox-icon-parent i{
    color: red;
    background-color: green;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
    transition: 0.2s;
}

.searchBox-icon-parent i:hover{
    transform: scale(1.08);
}

.searchBox-icon-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;
    background-color: rgba(77, 76, 76, 0.836);
    transition: 0.5s;
    box-shadow: 5px 5px 45px yellow;
}

.searchBox-icon-parent input:hover{
    border: 2px solid red;
}

/* main area */

main{
    background: linear-gradient(rgba(207, 71, 17, 0.575),rgba(0, 128, 0, 0.644),rgba(55, 55, 223, 0.747)),linear-gradient(rgba(16, 16, 209, 0.658),rgba(0, 128, 0, 0.644),rgba(207, 71, 17, 0.575));
    padding-top: 20px;
}

#main-section{
    width: 1100px;
    /* border: 2px solid red; */
    margin: 0px auto;
    padding: 50px 0;
}

#latest-video-parent{
    display: flex;
    justify-content: space-between;
}

.latest-video-text{
    color: #04AA6D;
    font-size: 25px;
    font-weight: bold;
}

.latest-pages{
    color: #04AA6D;
}

.latest-pages span{
    color: black;
    background-color: antiquewhite;
    border: 1px solid #8080805b;
    padding: 5px;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}

/* 16 images code */
#single-items-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px 20px;
    margin-top: 25px;
}

.single-items{
    height: 250px;
    border: 3px solid grey;
    border-radius: 10px;
}

.single-items img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.single-items:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}

.single-items div{
    display: flex;
    justify-content: space-between;
    color: rgba(19, 17, 17, 0.938);
    margin-top: 10px;
}

/* previous-next code */
#previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#previous-next-parent h3 a{
    background-color: #04AA6D;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
}

#previous-next-parent h3 a:hover{
    background-color: #018051;
}

#previous-next-parent a{
    text-decoration: none;
    color: white;
}

#previous-next-parent div a{
    margin: 0 10px;
    background-color: antiquewhite;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #80808069;
    transition: 0.5s;
}

#previous-next-parent div a:hover{
    background-color: #018051;
}

#previous-next-parent div a:first-child{
    background-color: #04AA6D;
    color: white;

}
#previous-next-parent div a:first-child:hover{
    background-color: #018051;
}


/* footer area */